@font-face {
  font-family: Shifter;
  src: url("https://cld.pt/dl/download/790546bb-a901-457d-b0b3-808e80f535de/ShifterSans-Regular.otf?download=true") format("opentype");
}

#frontpage, {
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    min-height: 90vh;
    
}

.frontpagecontainer {

    width: 100vw;
    height: 100vh;
}

.frontpageimage {

    background-image: url(https://cld.pt/dl/download/dd4adc60-f41a-4354-978f-90c83fc3d4cd/IMG_3469.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* filter: brightness(60%); */
    /* opacity: 0.7; */
    height: 100vh;
    width: 100wh;
}

.frontpageimage > .gradient
{
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.frontpagetitle {
    position: relative;
    top: 0vh;
    display: block;
    font-size: 20vh;
    font-family: Helvetica;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    color: white;
    z-index: 10;

    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-300%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  .arrowcontainer {

    position: absolute;
    bottom: 4vh;
    width: 100%;
    align-items: center;

  }

  .frontpagecontainer {

    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .frontpagedescription {
    position: relative;
    top: 20vh;
    /* left: 30vw; */
    display: block;
    font-size: 6vh;
    font-family: Shifter;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    color: white;
    z-index: 10;

    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1s;
}


.arrow{
  text-align: center;
  transform: translate(-50%,-50%);
  display: block;
  position: absolute;
  bottom: 3vh;
  left: 50%;
  margin-bottom: 2vh;
}

.arrow span{
  display: block;
  width: 5vh;
  height: 5vh;
  border-bottom: 3px solid #00c3e9;
  border-right: 3px solid #00c3e9;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-10px,-10px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(10px,10px);
  }
}
​
  

