#frontpage, {
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    min-height: 90vh;
    
}

.frontpagecontainer {

    width: 100vw;
    height: 100vh;
}

.frontpageimage {

    background-image: url(https://cld.pt/dl/download/dd4adc60-f41a-4354-978f-90c83fc3d4cd/IMG_3469.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* filter: brightness(60%); */
    /* opacity: 0.7; */
    height: 100vh;
    width: 100wh;
}

.frontpageimage > .gradient
{
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.frontpagetitle {
    position: relative;
    top: 0vh;
    display: block;
    font-size: 25vh;
    font-family: Helvetica;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    color: white;
    z-index: 10;

    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }

  .arrowcontainer {

    position: absolute;
    bottom: 4vh;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-animation: 4s infinite bounce;
    animation: 4s infinite bounce;

  }
  

.arrow,
.arrow:before
  position: absolute
  left: 50%

.arrow
  width: 40px
  height: 40px
  top: 50%
  margin: -20px 0 0 -20px
  -webkit-transform: rotate(45deg)
  border-left: none
  border-top: none
  border-right: 2px #fff solid
  border-bottom: 2px #fff solid

  
.arrow:before
  content: ''
  width: 20px
  height: 20px
  top: 50%
  margin: -10px 0 0 -10px
  border-left: none
  border-top: none
  border-right: 1px #fff solid
  border-bottom: 1px #fff solid
  animation-duration: 2s
  animation-iteration-count: infinite
  animation-name: arrow
  
@keyframes arrow
  0%
    opacity: 1
  100%
    opacity: 0
    transform: translate(-10px, -10px)