@font-face {
    font-family: 'Shifter Sans';
    src: local('Shifter Sans Regular'), local('ShifterSans-Regular'), url('../fonts/ShifterSans-Regular.woff2') format('woff2'), url('../fonts/ShifterSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-300%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}


body {
    font-family: 'Shifter Sans', sans-serif;
}

#frontpage,
{
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    min-height: 90vh;
}

.frontpagecontainer {
    width: 100%;
    height: 100vh;
}

.frontpageimage {
    background-image: url(https://cld.pt/dl/download/dd4adc60-f41a-4354-978f-90c83fc3d4cd/IMG_3469.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* filter: brightness(60%); */
    /* opacity: 0.7; */
    height: 100vh;
    width: 100%;
}.section-title

.frontpageimage>.overlay {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.frontpagetitle {
    position: relative;
    top: 0vh;
    display: block;
    font-size: 20vh;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    color: white;
    z-index: 10;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-300%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
}

.arrowcontainer {
    position: absolute;
    bottom: 4vh;
    width: 100%;
    align-items: center;
}

.frontpagecontainer {
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.frontpagedescription {
    position: relative;
    top: 38vh;
    /* left: 30vw; */
    display: block;
    font-size: 6vh;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    color: white;
    z-index: 10;
    overflow: hidden;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.arrow {
    text-align: center;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    bottom: 3vh;
    left: 50%;
    margin-bottom: 2vh;
}

.arrow span {
    display: block;
    width: 5vh;
    height: 5vh;
    border-bottom: 3px solid #00c3e9;
    border-right: 3px solid #00c3e9;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #016aaf;
    border-color: #016aaf;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #016aaf;
    border-color: #016aaf;
}


.section-title {
    text-align: center;
    color: #016aaf;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 6vw;
    padding-top: 20px;
}

section .section-subtitle {
    text-align: center;
    color: #00c3e9;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 4vw;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 600px;
}

.backside .card a {
    font-size: 15px;
    color: #016aaf !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #016aaf !important;
}

.card-text-cargo {
    font-size: 20px;
    font-weight: bold;
    color: #016aaf !important

}

.frontside .card .card-body img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
​